<fieldset>
    <legend>{{ heading_title }}</legend>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-status">{{ text_enabled }}</label>
        <div class="col-sm-10">
            <select name="payment_custom_gateway_status" id="input-status" class="form-control">
                <option value="1" {% if payment_custom_gateway_status %}selected="selected"{% endif %}>Enabled</option>
                <option value="0" {% if not payment_custom_gateway_status %}selected="selected"{% endif %}>Disabled</option>
            </select>
        </div>
    </div>
</fieldset>
